@font-face {
  font-family: 'Inter';
  src:
    url('../public/assets/fonts/Inter-Variable.ttf') format('truetype-variations'),
    local('Inter'),
    local('Inter-Regular');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src:
    url('../public/assets/fonts/JetBrainsMono-Variable.ttf') format('truetype-variations'),
    local('JetBrains Mono'),
    local('JetBrainsMono-Regular');
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}
